*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}
#error{
	display: none;
	color: red;
}
.search{
	margin: 10px auto;
}
button{
	padding: 10px;
	font-size: 1.5rem;
}
input{
	padding: 20px 50px;
	width: 30%;
}
.loading{
	display: none;
}
#results{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.book{
    border: 1px solid black;
    margin: 10px;
    width: 25vw;
    word-break: break-word;
    padding: 10px;
    box-shadow: 0 0 5px 2px;
}
.book > *{
	margin: 10px auto;
}
.found{
	display: none;
}
@media all and (max-width: 750px){
	.book{
		width: 50vw;
	}
}